# Default values for chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1
image:
  repository: gitlab.example.com/group/project
  tag: stable
  pullPolicy: Always
  secrets:
    - name: gitlab-registry
application:
  name: laravel-app
  track: stable
  configMap: env-config
  tier: web
service:
  enabled: true
  name: web
  type: NodePort
  url: http://my.host.com/
  externalPort: 80
  internalPort: 80
ingress:
  enabled: true
  hosts:
   - myhost.com
  tls: true
mysql:
  enabled: false
resources:
#  limits:
#    cpu: 100m
#    memory: 128Mi
#  requests:
#    cpu: 100m
#    memory: 128Mi
