{{- if .Values.service.enabled -}}
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: "{{ .Values.application.name  }}"
  labels:
    app: "{{ .Values.application.name  }}"
    chart: "{{ .Chart.Name }}-{{ .Chart.Version| replace "+" "_" }}"
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
  annotations:
    kubernetes.io/tls-acme: "true"
    kubernetes.io/ingress.class: "nginx"
    certmanager.k8s.io/issuer: letsencrypt-prod
spec:
  tls:
  - hosts:
    - {{ template "hostname" .Values.service.url }}
    secretName: "{{ .Values.application.name  }}"-tls
  rules:
  - host: {{ template "hostname" .Values.service.url }}
    http:
      paths:
      - path: /
        backend:
          serviceName: "{{ .Values.application.name  }}"
          servicePort: {{ .Values.service.externalPort }}
{{- end -}}
